.container{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.loginBox{
    background-color:grey ;
    padding: 30px;
    text-align: center;
}
.loginItems{
    margin: 30px;
}
#loginBtn{
    margin-top: 10px;
}